
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans';
    margin: 0;
}

a {
    text-decoration: none;
}

.rotate-class {
    transform: rotate(90deg);
}

.main-section {
   padding: 2rem;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}