.art-info-container {
    padding: 0 0.75rem 0.75rem 0.75rem;  
}

.art-info-item {
    overflow: hidden;
    font-size: 0.85rem;
}

.art-info-item .input-label {
    font-weight: 600;
    font-size: 0.85rem;
}

.margin-top {
    margin-top: 0.5rem;
}