.locations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.location {
  min-width: 250px;
  text-align: center;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #40C8F4;
  color: #F7F9FA;
  font-size: 1.25rem;
}

  .textfield-icon-container {
    position: relative;
  }

  .icons-container {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%)
  }
