.home-page-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    width: 50vw;
}

.home-page-content button {
   flex-grow: 0;
}

.mobile-home-page-content {
    width: 100%;
}

.mobile-home-page-content button {
    flex-grow: 1;
}