.users-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }

  .user {
    min-width: 250px;
    text-align: end;
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
  }

  .delete-users-buttons {
    display: flex;
    align-items: center;
    height: 34px;
    cursor: pointer;
}

.delete-user-icon {
  cursor: pointer; 
  height: 34px; 
  width: 34px;
}