.drop-zone {
    position: relative;
    border: 2px dashed #e5e7eb;
    border-radius: 0.5rem;
    height: 20vh;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.in-upload {
    width: 50vw;
}

.in-pdf-maker {
    width: 70%;
    height: 15%;
}

.drop-zone-text {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     cursor: pointer;
     white-space: wrap;
     color: #484949;
}

.drop-zone-helper-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    white-space: no-wrap;
    color: #484949;
}