.card-footer-container {
    padding: 0 0.75rem 0.75rem 0.75rem;  
}

.card-footer-item {
    overflow: hidden;
    font-size: 0.85rem;
}

.input-label {
    font-weight: 600;
    font-size: 0.85rem;
}